/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

.clear {
	clear: both;
	margin: 30px;
	background-color: #87CEFA;
	padding: 10px;
	padding-bottom: 1px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/********************************************
* Your CSS rules go down here
********************************************/

header {
	background-color: #87CEFA;
	margin: 0;
	padding: 1px;
}

.instructions {
	border: 5px solid lightgray;
	margin: 30px;
	padding: 20px;
}

.pull-left {
	float: left;
	margin: 5px;
	margin-left: 30px;
	border: 5px solid lightgray;
}

.pull-right {
	float: right;
}
